.notesContainer {
    display: flex;
}

.note {
    width: 200px;
    height: 350px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}

.noteHeader {
    width: 100%;
    overflow-wrap: break-word;
}

.controls {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.noteContenst {
    flex: 15;
    overflow: auto;
}

.note p {
    flex: 1;
}